# Build artifacts
/build/
/dist/
# Zensical documentation site output
/site/
/.zensical/
*.so
*.pyd
*.egg-info/
__pycache__/
*.py[cod]
.pytest_cache/

# Editors
.idea/
.vscode/
.DS_Store

# Env
.venv/
.pixi/
# pixi environments
.pixi/*
!.pixi/config.toml
